@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

/* Header Content */

header {
  margin: 0;
  position: relative;
}

h1 {
  font-family: Limelight, sans-serif;
  font-size: 2rem;
  margin: 1em 0 0;
  padding: .5em;
  text-align: center;
  color: #efbb4d;
  border-top: 1px solid #e12828;
}

.header-icon {
  display: none;
  width: 5em;
}

.nav {
  margin: 0 0 1em;
  padding: 0;
  list-style-type: none;
  display: none;
}

.nav li {
  margin: 0 .5em;
  border-bottom: 1px solid #e12828;
}

.nav a {
  display: block;
  padding: .75em .5em;
  border-radius: 5px;
  color: #efbb4d;
  text-decoration: none;
}

.preview-products a {
  text-decoration: none;
}

.nav a:hover {
  background-color: rgba(239, 187, 77, .2);
  color: #e12828;
}

.nav .current {
  color: #e12828;
}

.nav-check {
  display: none;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

#nav-label {
  cursor: pointer;
  width: 25px;
  position: absolute;
  right: 12px;
  top: 66px;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ #nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ #nav-label .nav-close {
  display: block;
}

.banner {
  margin: 0;
}

.banner .banner-caption {
  font-family: Muli, sans-serif;
  margin: 1em auto;
  padding: .5em 0;
  width: 8em;
  font-size: 1.2rem;
  text-align: center;
  color: #e12828;
  border-top: 1px solid #e12828;
  border-bottom: 1px solid #e12828;
}

/* Main Content */

/* Opening */

.opening {
  background-color: #f5e0bc;
}

.opening-text {
  padding: 1em;
  text-align: center;
}

.opening-text h2 {
  margin: 0;
  padding: 0 0 .5em;
  font-size: 1.3rem;
  font-family: Muli, sans-serif;
  color: #e12828;
  border-bottom: 2px solid #fff;
}

.opening-text p {
  margin: 0;
  padding: 1em 0 0;
}

/* Products */

.preview-products h2 {
  margin: 1em auto 1.5em;
  padding: .5em 0;
  width: 7em;
  font-size: 1.3rem;
  font-family: Muli, sans-serif;
  text-align: center;
  color: #e12828;
  border-bottom: 1px solid #e12828;
}

footer h3 {
  font-size: 1.2rem;
  color: #9f2316;
  text-transform: uppercase;
}

.preview-products h3 {
  font-family: Muli, sans-serif;
  margin: 0;
  padding: 0 .5em;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .3);
}

.preview-products a:hover h3 {
  background-color: rgba(0, 0, 0, .6);
}

.preview-products .milk-card {
  position: relative;
  margin: 0;
}

.milk-card figcaption {
  position: absolute;
  margin: 0;
  left: 5px;
  bottom: 5px;
}

.preview-products .dark-card {
  position: relative;
  margin: 0;
}

.dark-card figcaption {
  position: absolute;
  margin: 0;
  left: 5px;
  bottom: 5px;
}

.preview-products .white-card {
  position: relative;
  margin: 0;
}

.white-card figcaption {
  position: absolute;
  margin: 0;
  left: 5px;
  bottom: 5px;
}

/* Reviewer Content */

.critic {
  margin-top: 1.5em;
}

.critic-review h2 {
  font-family: Muli, sans-serif;
  font-size: 1.3rem;
  padding: .5em 0;
  margin: 1em auto;
  text-align: center;
  width: 7.1em;
  color: #e12828;
  border-bottom: 1px solid #e12828;
}

.quote img {
  display: none;
}

.quote .critic-quote {
  border-bottom: 1px solid #e12828;
  margin: 0 2em;
  padding: 1em 0;
}

.critic-quote p {
  margin: 0 0 .5em;
}

/* Footer Content */

.page-footer {
  margin-top: 2em;
  padding: 1em;
  background-color: #f5e0bc;
  font-family: Muli, sans-serif;
}

.footer-wrap {
  border: 2px solid #e12828;
  border-radius: 10px;
  padding: 1em;
}

.info-contact .email {
  color: #000;
  text-decoration: none;
}

.shop-hours .hours {
  list-style-type: none;
  padding: 0;
}

.hours strong {
  font-size: 1.1rem;
  text-transform: uppercase;
}

.copyright {
  font-size: .75rem;
  text-align: center;
}

.icon {
  display: none;
  margin: 0 auto;
  width: 10em;
}

@media only screen and (min-width: 22.4em) {

  .nav {
    margin-top: 1em;
  }

  .banner {
    margin: 2em 0 0;
  }

  #nav-label {
    top: 60px;
  }

}

@media only screen and (min-width: 25em) {

  #nav-label {
    display: none;
  }

  .nav {
    display: block;
    text-align: center;
    margin: 0;
  }

  .nav li {
    display: inline-block;
    padding: .1em .5em;
    text-align: center;
    border-bottom: none;
    margin: 0;
  }

  .nav a {
    display: inline;
  }

  .nav .nav-border-a {
    border-left: 1px solid #e12828;
  }

  .nav .nav-border-b {
    border-left: 1px solid #e12828;
    border-right: 1px solid #e12828;
  }

  .info,
  .hours {
    text-align: center;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .nav li {
    padding: .1em 1em;
  }

  .banner .banner-caption {
    width: 16em;
  }

  .opening-text {
    margin: 0 auto;
    width: 22em;
  }

  .critic {
    margin: 1.5em auto;
    width: 25em;
  }

  .critic .critic-quote {
    margin: 0;
  }

  .info {
    margin: 0 auto;
  }

  .info .info-contact {
    display: inline-block;
    margin: 0 2em;
  }

  .info .info-address {
    display: inline-block;
    margin: 0 2em;
  }

  .shop-hours .hours {
    text-align: center;
  }

  .hours li {
    display: inline-block;
    padding: 0 1em;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  h1 {
    font-size: 2rem;
    margin: 0;
    float: left;
    border: none;
  }

  nav {
    display: inline-block;
    padding: 1.7em 0;
  }

  .banner {
    margin: 0 0 2.5em;
    position: relative;
    max-height: 550px;
    overflow: hidden;
    width: 100%;
  }

  .banner .banner-caption {
    font-size: 1.5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    border-color: #fff;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .2);
    margin: .5em;
  }

  main .opening {
    overflow: hidden;
  }

  .opening .open-wrap {
    max-width: 60em;
    margin: 0 auto;
  }

  .opening .left {
    position: relative;
  }

  .opening .opening-text {
    float: left;
    width: 50%;
    margin: 0;
    position: absolute;
    left: 25%;
    transform: translateX(-50%);
    max-width: 35em;
  }

  .opening-text h2 {
    margin: 1.5em 1em 0;
    padding: 0 0 .5em;
  }

  .opening-text p {
    margin: 0 auto;
    width: 19em;
  }

  .opening-img {
    float: right;
    width: 50%;
  }

  .preview-products {
    overflow: hidden;
  }

  .product-wrap {
    max-width: 1440px;
    margin: 0 auto;
  }

  .preview-products .card {
    float: left;
    width: 50%;
  }

  .preview-products figure > figcaption {
    position: static;
    text-align: center;
  }

  .preview-products h3 {
    color: #000;
    padding: .5em;
    font-size: 1.2rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fff;
  }

  .preview-products .white-card {
    margin: 0 25%;
  }

  .preview-products a:hover h3 {
    color: #fff;
    background-color: rgba(0, 0, 0, .3);
  }

  .critic-review {
    overflow: hidden;
  }

  .critic-wrap {
    background-color: #f5e0bc;
    max-width: 55em;
    margin: 0 auto;
    padding: 2em 0;
    border-radius: 10px;
  }

  .critic {
    width: inherit;
  }

  .critic .critic-quote {
    margin: 0;
    border-top: 1px solid #e12828;
  }

  .quote img {
    display: block;
  }

  .critic-a,
  .critic-b,
  .critic-c {
    position: relative;
  }

  .critic-a .critic-img,
  .critic-c .critic-img {
    float: left;
    padding: 1em;
    width: 50%;
  }

  .critic-a .quote,
  .critic-c .quote {
    position: absolute;
    bottom: 0;
    right: 0;
    float: left;
    width: 50%;
    padding: 1em;
  }

  .critic-b .critic-img {
    float: right;
    padding: 1em;
    width: 50%;
  }

  .critic-b .quote {
    position: absolute;
    bottom: 0;
    float: right;
    width: 50%;
    padding: 1em;
  }

}

@media only screen and (min-width: 75em) {

  .contact {
    float: left;
    width: 50%;
  }

  .contact .icon {
    display: block;
  }

  .shop-hours {
    float: left;
    width: 50%;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  header {
    position: relative;
  }

  h1 {
    float: left;
    font-size: 2.5rem;
  }

  .header-icon {
    display: block;
    float: left;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
  }

  nav {
    float: right;
    width: 28em;
    padding: 2.4em 0 0;
  }

  .opening .left {
    position: relative;
  }

  .opening .opening-text {
    position: absolute;
    left: 25%;
    transform: translate(-50%, 15%);
    max-width: 35em;
    border-left: 2px solid #e12828;
  }

  .opening .opening-img {
    max-height: 553px;
    float: right;
  }

  .preview-products .white-card {
    margin: inherit;
  }

  .preview-products .card {
    width: 33.33%;
  }

  .critic {
    max-width: 75%;
    margin: 0 auto;
  }

  .page-footer {
    overflow: hidden;
  }

  .contact {
    float: left;
    width: 50%;
  }

  .shop-hours {
    float: left;
    width: 50%;
  }

  .icon {
    display: block;
  }

}

@media only screen and (min-width: 120em) {

  .banner .banner-caption {
    left: 50%;
    transform: translateX(-50%);
  }

  .footer-wrap {
    max-width: 52em;
    margin: 0 auto;
  }

  .info {
    margin-top: 4em;
  }

}
